<div class="navbar-btn-group-left btn-group">
  <button id="users-btn" class="navbar-btn">
    <i class="icon fa fa-group"></i>
  </button>

  <button id="chat-btn" class="navbar-btn">
    <i class="icon fa fa-comments"></i>
    <!--
      <div id="chat-notifications" class="notification">12</div>
    -->
  </button>

  <button id="video-btn" class="navbar-btn">
    <i class="icon fa fa-video-camera"></i>
  </button>

  <button id="audio-btn" class="navbar-btn">
     <i class="icon fa fa-microphone"></i>
  </button>
</div>

<div class="navbar-btn-group-right btn-group">
<!--
  <button id="setting-btn" class="navbar-btn">
      English<i class="fa fa-sort-asc"></i>
  </button>
-->
    <div class="btn-group">
        <button type="button" class="navbar-btn dropdown-toggle" data-toggle="dropdown">
            Locale <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li id="root"><a href="#">English</a></li>
            <li id="zh-cn"><a href="#">Chinese</a></li>
            <li id="fr"><a href="#">French</a></li>
            <li><a href="#">Spanish</a></li>
            <li><a href="#">Hindi</a></li>
            <li><a href="#">Arabic</a></li>
            <li><a href="#">Portuguese</a></li>
            <li><a href="#">Russian</a></li>
            <li><a href="#">Persian</a></li>
            <li><a href="#">English</a></li>
            <li><a href="#">Chinese</a></li>
            <li><a href="#">French</a></li>
            <li><a href="#">Romanian</a></li>
            <li><a href="#">Polish</a></li>
            <li><a href="#">Turkish</a></li>
            <li><a href="#">Bengali</a></li>
            <li><a href="#">Punjabi</a></li>
            <li><a href="#">Italian</a></li>
        </ul>
    </div>
  <button id="logout-btn" class="navbar-btn" >
    <i class="icon fa fa-sign-out"></i>
  </button>

  <button id="hide-menu-btn" class="navbar-btn">
    <i class="icon fa fa-chevron-circle-up "></i>
  </button>


</div>
